.logo {
  position: absolute;
  left: 30px;
  top: 15px;
  width: 100px;
}

li,
ul,
a {
  text-decoration: none;
}

@media (width <= 600px) {
  main {
    padding: 10px;
  }
}

@media (width > 600px) {
  main {
    padding: 0 10vw;
  }
}
