/*fonte*/
@font-face {
  font-family: Oswaldbold;
  src: url(/fonts/Oswald-Bold.ttf);
}

@font-face {
  font-family: Oswaldsemi;
  src: url(/fonts/Oswald-SemiBold.ttf);
}

@font-face {
  font-family: Oswaldreg;
  src: url(/fonts/Oswald-Regular.ttf);
}

@font-face {
  font-family: Latothin;
  src: url(/fonts/Lato-Thin.ttf);
}

@font-face {
  font-family: Latobold;
  src: url(/fonts/Lato-Bold.ttf);
}

@font-face {
  font-family: Latoreg;
  src: url(/fonts/Lato-Regular.ttf);
}

.underhead p {
  font-family: Latobold;
}

h3 {
  font-family: Oswaldbold;
  font-size: 30px;
  margin: 0%;
}

p,
li {
  font-family: Latoreg;
}

.norm {
  font-family: Latoreg;
}

/* Footer */
footer {
  background-color: black;
  padding-top: 20px;
  padding-bottom: 40px;
  border: solid 3px;
  border-color: transparent;
  border-top-style: solid;
  border-top-color: #c9372c;
}

.grid3_1 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 25%;
  color: white;
}

.kontakt {
  align-items: left;
  margin: auto;
}

.copy {
  align-self: center;
  margin: auto;
}

.links {
  display: grid;
  grid-row: 2fr;
  align-items: right;
  margin: auto;
  gap: 25%;
}

/*baggrundsbillede*/
body {
  background-image: url("/img/background.webp");
  background-color: #cccccc;
  background-size: cover;
}

/*grids*/
.grid-1 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2 {
  display: grid;
  grid-template-columns: 1fr;
}

.grid-2 {
  width: 100%;
}

/*forside link knapper*/
.grid1_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding-top: 50px;
  padding-bottom: 40px;
}

.grid1_2 a {
  background-color: black;
  width: 250px;
  text-align: center;
  font-size: 30px;
  letter-spacing: 1px;
  padding-top: 15px;
  padding-bottom: 15px;
  border: solid rgb(240, 240, 240) 0.75px;
  border-radius: 10px;
  box-shadow: 2px 2px 2px black;
  margin: auto;
}

.grid1_2 a:hover {
  color: #e8e8e8;
  background-color: rgb(63, 63, 63);
}

/*side overskrifter*/
h1 {
  font-family: Oswaldbold;
  font-size: 50px;
}

h2 {
  font-family: Oswaldreg;
  font-size: 36px;
  margin-top: 0px;
}

.headline h1 {
  position: absolute;
  top: 110px;
  font-family: Oswaldbold;
  font-size: 55px;
  margin-left: 25px;
  letter-spacing: -3px;
}

.behindheadline h1 {
  padding-top: 30px;
  font-family: Oswaldbold;
  font-size: 110px;
  color: transparent;
  letter-spacing: 28px;
  text-shadow: 20px 1px 22px #ff1815;
}

.underhead h2 {
  margin-left: 20px;
  position: absolute;
  top: 290px;
}

.comp img {
  width: 100%;
  height: 100%;
  max-width: 1300px;
  box-shadow: 2px 2px 8px black;
}

/*menu bar og logo*/
.logo img {
  position: absolute;
  left: 50px;
  padding-top: 35px;
  width: 50px;
}

.horizontal {
  border-left: 4px solid red;
  height: 50px;
  position: absolute;
  top: 65px;
  left: 3%;
}

.horizontal2 {
  border-left: 4px solid red;
  height: 50px;
  position: absolute;
  top: 65px;
  right: -3%;
}

.menu {
  position: absolute;
  right: 100px;
  font-size: 48px;
}

.menu a {
  color: black;
}

.menu a:hover {
  color: #c9372c;
}

a {
  text-decoration: none;
  color: white;
  font-family: Oswaldsemi;
}

.burger-menu {
  background-color: rgb(0, 0, 0);
  height: 110px;
  width: 100%;
  max-width: 200px;
  position: fixed;
  top: 88px;
  right: -450px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 18px;
  line-height: 1.5;
  transition: 0.3 ease;
}

.burger-menu.active {
  right: 0;
}

nav {
  padding: 5px;
  display: flex;
}

.burger-menu2 {
  height: 50px;
  width: 40px;
  margin-left: auto;
  position: relative;
  top: 30px;
}

.burger-menu2 span {
  height: 5px;
  width: 100%;
  background-color: #c9372c;
  border-radius: 1px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3 ease;
}

.burger-menu2 span:nth-child(1) {
  top: 25%;
}

.burger-menu2 span:nth-child(3) {
  top: 75%;
}

.burger-menu2.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.burger-menu2.active span:nth-child(2) {
  opacity: 0;
}
.burger-menu2.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

/*Om mig side*/
.omh {
  font-family: Oswaldbold;
  font-size: 30px;
}

.textbox_1 {
  background-color: rgba(240, 240, 240, 0.4);
  border: solid 1px;
  border-color: #ed3a2c;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #ed3a2c;
  padding-left: 20px;
  padding-right: 40px;
  padding-top: 40px;
  width: 600px;
  height: 350px;
  line-height: 1.3;
  font-size: 18px;
}

.lottie {
  position: absolute;
  right: 200px;
  bottom: 130px;
  height: 450px;
}

.tb2 {
  margin-top: 10px;
  font-family: Oswaldbold;
}

.textbox2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  background-color: rgba(240, 240, 240, 0.4);
  border: solid 1px;
  border-color: #000000;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #000000;
  padding-left: 30px;
  padding-right: 40px;
  padding-top: 15px;
  line-height: 1.3;
  font-size: 18px;
  margin-bottom: 20px;
  margin-top: 20px;
  align-items: start;
}

.textboxright {
  align-self: start;
  padding-top: 150px;
  margin-left: 140px;
}

.textboxleft ul,
.textboxright ul {
  list-style: none;
  padding-left: 0;
}

.textboxright li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
  font-size: 20px;
  line-height: 60px;
}

.textboxright img {
  width: 30px;
  height: 30px;
  margin-right: 10px;
  object-fit: contain;
}
.programliste {
  list-style: none;
  padding: 0;
}

.programliste li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 0.75rem;
}

.programliste img {
  width: 30px;
  height: 30px;
}
/*TREDJE TEKST BOKS - OM MIG SIDE*/

.grid1_1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  background-color: rgba(240, 240, 240, 0.4);
  border: solid 1px;
  border-color: #ed3a2c;
  border-radius: 5px;
  box-shadow: 1px 1px 4px #ed3a2c;
  padding-left: 30px;
  padding-right: 60px;
  padding-top: 15px;
  line-height: 1.3;
  font-size: 18px;
  padding-bottom: 20px;
  margin-bottom: 30px;
}

/*PORTFOLIO SIDE*/
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 30px;
  justify-items: center;
  padding: 10px;
  padding-left: 100px;
  padding-right: 100px;
  margin-bottom: 30px;
}

.portfolio-card {
  background-color: white;
  width: 500px;
  height: 600px;
  padding: 1px;
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.4);
  opacity: 0.5;
  transition: all 0.3s ease;
  display: flex;
  flex-direction: column;
}

.portfolio-card a {
  background-color: #cdcdcd;
  color: #000000;
  width: 200px;
  text-align: center;
  font-size: 25px;
  letter-spacing: 1px;
  border: solid rgb(0, 0, 0) 0.2px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px black;
  margin-left: 260px;
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 0px;
}

.portfolio-card img {
  margin-top: 50px;
}

.portfolio-card h2 {
  color: #c9372c;
  font-family: Oswaldbold;
  font-size: 100px;
  margin-top: 10px;
  margin-left: 20px;
  margin-bottom: 0;
  text-shadow: -2px 2px 10px #c9372c;
}

.portfolio-card h3 {
  font-family: Oswaldbold;
  margin-left: 20px;
}

.portfolio-card p {
  margin-left: 20px;
}

.portfolio-card:hover {
  opacity: 1;
  transform: translateY(-10px) scale(1.1);
  z-index: 1;
}

/*mobile size*/
@media (width <= 700px) {
  main {
    padding-left: 10px;
    padding-right: 10px;
  }

  .menu {
    display: none;
  }

  .headline h1 {
    font-size: 36px;
  }

  .behindheadline h1 {
    font-size: 55px;
    padding-top: 20px;
    letter-spacing: 8px;
  }

  .underhead h2 {
    font-size: 20px;
    position: absolute;
    top: 200px;
  }

  footer {
    display: flex;
    flex-wrap: wrap;
  }

  .grid3_1 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: small;
    margin: auto;
  }

  .links {
    text-align: center;
  }

  .grid1_2 {
    display: flex;
    flex-wrap: wrap;
    max-width: 200px;
    margin: auto;
    gap: 10px;
  }

  .grid1_2 a {
    max-width: 150px;
    max-height: 20px;
    font-size: medium;
    padding-top: 10px;
    padding-bottom: 12px;
  }

  .grid1 p {
    font-size: 15px;
    line-height: 1.2rem;
  }

  .grid1 {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
  }

  .textbox_1 {
    display: flex;
    flex-direction: column;
    max-width: fit-content;
    max-height: max-content;
    font-size: 14px;
    padding: 5%;
  }

  .omh {
    margin: 0%;
  }

  .lottie {
    position: static;
    margin-bottom: 10px;
  }

  .textbox2,
  .textboxleft,
  .textboxright,
  .grid1_1 {
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem;
    font-size: 16px;
  }

  .textboxright {
    margin: 0%;
  }

  .portfolio-container {
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin-bottom: 10px;
    row-gap: 10px;
  }

  .portfolio-card {
    max-width: 350px;
    max-height: 425px;
    margin-bottom: 25px;
    margin-left: auto;
    margin-right: auto;
    opacity: 1;
  }

  .portfolio-card:hover {
    opacity: 1;
    transform: none;
    z-index: auto;
  }

  .portfolio-card a {
    max-width: 120px;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0%;
  }

  .portfolio-card img {
    margin-top: 60px;
    object-fit: scale-down;
  }

  .portfolio-card h3 {
    font-size: 20px;
  }

  .portfolio-card h2 {
    font-size: 50px;
  }
}

/*Desktop*/
@media (width > 700px) {
  main {
    margin-left: 150px;
    margin-right: 150px;
  }

  .burger-menu {
    display: none;
  }

  .burger-menu2 {
    display: none;
  }
}
